#Banner {
    background-color: #2c2c2c;
    box-shadow: 0px 0px 8px #000000;
}

#Banner .banner-container {
    padding: 80px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Banner .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px #888888;
}

#Banner .photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#Banner .info {
    color: #ffff;
    padding-left: 40px;
}

#Banner .info .name {
    font-family: 'Baloo Da 2', cursive;
    font-size: 2.3em;
}

#Banner .info .title {
    font-size: 1.4em;
    padding-bottom: 4px;
}
