#Header {
    background-color: #1c1c1c;
    color: #fff;
}

#Header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Header .links {
    display: flex;
}

#Header .links a {
    color: #fff;
    font-size: 1.8em;
    margin-right: 15px;
}

#Header .links a:hover {
    color: rgb(255, 145, 0);
}

#Header .nav-item {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 4px;
}

#Header .nav-item:hover {
    color: rgb(255, 145, 0);
    cursor: pointer;
}