#VcarsLogin {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#VcarsLogin .project-img {
    display: flex;
    justify-content: center;
}

#VcarsLogin .project-img img {
    width: 92%;
}

#VcarsLogin .logout-box {
    display: flex;
    align-items: center;
}

#VcarsLogin .logout-box img {
    height: 40px;
    margin-right: 10px;
}